@import "tailwindcss";

:root {
  --background: #f1f2f7;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-unbounded: var(--font-unbounded);
}

body {
  background-color: #f1f2f7;
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-unbounded), sans-serif;
}